.idea/*
nemosis/__pycache__/*
venv/*
build/*
dist/*
nemosis/build/*
nemosis/dist/*
gui.spec
.pkl
cd
nemosis.egg-info/*
nemosis/build/gui/xref-gui.html
nemosis/build/gui/warngui.txt
nemosis/build/gui/out01-Tree.toc
nemosis/build/gui/out00-Tree.toc
nemosis/build/gui/out00-PYZ.toc
nemosis/build/gui/out00-PYZ.pyz
nemosis/build/gui/out00-PKG.toc
nemosis/build/gui/out00-PKG.pkg
nemosis/build/gui/out00-EXE.toc
nemosis/build/gui/out00-Analysis.toc
nemosis/build/gui/gui.exe.manifest
nemosis/build/gui/base_library.zip
