.idea/*
src/nemosis/__pycache__/*
venv/*
build/*
dist/*
src/nemosis/build/*
src/nemosis/dist/*
gui.spec
.pkl
cd
nemosis.egg-info/*
src/nemosis/build/gui/xref-gui.html
src/nemosis/build/gui/warngui.txt
src/nemosis/build/gui/out01-Tree.toc
src/nemosis/build/gui/out00-Tree.toc
src/nemosis/build/gui/out00-PYZ.toc
src/nemosis/build/gui/out00-PYZ.pyz
src/nemosis/build/gui/out00-PKG.toc
src/nemosis/build/gui/out00-PKG.pkg
src/nemosis/build/gui/out00-EXE.toc
src/nemosis/build/gui/out00-Analysis.toc
src/nemosis/build/gui/gui.exe.manifest
src/nemosis/build/gui/base_library.zip
env/*
src/nemosis/raw_aemo_data/*
NEMOSIS.exe
src/nemosis/smoke_tests.py
src/nemosis/check_new_bid_table_functionality.py
*.pyc
smoke.py
NEMOSIS.exe
nemosis_test_cache/
line-profiler.py
profiler.py
test.ipynb
.vscode/settings.json
smoke2.py
